//
// GOVUK front-end toolkit overrides using nidirect UXM standards
//
$toolkit-font-stack: "Lato", "Open Sans", sans-serif;
$toolkit-font-stack-tabular: "Lato", "Open Sans", sans-serif;

$dss-blue: #0a7ad0;
$dss-blue-border: #0867b0;
$dss-service-name: #0869b3;

$govuk-blue: $dss-blue;
$mainstream-brand: $dss-blue;
