<% wrap_layout :layout do %>
  <div class="page-banner">
    <p>
        The NICS Enterprise Architecture should be used and adhered to by solution architects and developers
        (both internal and external) when designing and building digital servcies for the NICS.
    </p>
  </div>
  <%= yield %>
<% end %>
