.toc a:link {
  color: $link-colour;
}

.toc_list a:link.toc-link--in-view, .toc__list a:visited.toc-link--in-view {
  font-weight: bold;
  color: #003078; // govuk-colour("dark-blue")
  border-left-color: #003078; // govuk-colour("dark-blue")
  background-color: #f3f2f1; // govuk-colour("light-grey")
}
