// override the core settings and bring back into line with
// current GOVUK colours (15/10/20)
$link-colour: #1d70b8;
$link-hover-colour: #003078;
$link-visited-colour: #4c2c92;
$link-active-colour: #0b0c0c;
